/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Referenciar*/
:root {
    --title-color: #FF7F50;
}

html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}